API_KEY="SUPER_SECRET_KEY"

APP_NAME="MeetingRoomBookingSystem"

USER_DB="user"
DB_PASSWORD="securepassword123"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="mydatabase"

DATABASE_URL="postgresql://${USER_DB}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
